/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import '~@ag-grid-community/core/dist/styles/ag-grid.css';
// @import '~@ag-grid-community/core/dist/styles/ag-theme-alpine.css';


@import '~@ag-grid-community/styles/ag-grid.css';
@import '~@ag-grid-community/styles/ag-theme-alpine.css';


html, body { height: 100%;
width: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// @import "~ag-grid-community/styles/ag-grid.css";
// @import "~ag-grid-community/styles/ag-theme-alpine.css";

.breadcrumb-wrapper {
    width: 100%; /* Full width of the page */
    background-color: #f8f9fa; /* Light background for visibility */
    padding: 10px 15px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in width calculation */
    border-bottom: 2px solid #e9ecef; /* Subtle border for separation */
}


/* Force the styling */
.ag-theme-alpine {
    --ag-odd-row-background-color: rgba(0, 0, 255, 0.25) !important;
}

// .ag-theme-alpine .ag-row.ag-row-odd {
//     background-color: rgba(0, 0, 255, 0.05) !important;
// }

/* Additional specificity */
// :host ::ng-deep .ag-theme-alpine .ag-row.ag-row-odd {
//     background-color: rgba(0, 0, 255, 0.05) !important;
// }




